.events-container {
  padding: 20px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #17252a;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  background: #2b7a78;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.add-btn:hover {
  background: #225e5c;
}

/* TABLE */
.event-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.event-table th {
  background: #2b7a78;
  color: white;
  padding: 12px;
  text-align: left;
}

.event-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.event-table tr:hover {
  background: #f1fdfc;
}

/* Buttons */
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit {
  margin-right: 10px;
  background: #3aafa9;
  color: white;
}

.delete {
  background: #d9534f;
  color: white;
}

/* STATUS BADGES */
.status-badge {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  display: inline-block;
}

/* COMPLETED = GREEN */
.status-badge.completed {
  background: #d4edda;
  color: #155724;
}

/* UPCOMING = YELLOW */
.status-badge.upcoming {
  background: #fff3cd;
  color: #856404;
}

/* ----------- Modal Background ----------- */
.event-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* ----------- Modal Box ----------- */
.modal-box {
  background: #ffffff;
  padding: 25px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

/* ----------- Labels ----------- */
.modal-box label {
  display: block;
  font-size: 14px;
  color: #2b7a78;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 4px;
}

/* ----------- Inputs ----------- */
.modal-box input,
.modal-box select,
.modal-box textarea {
  width: 90%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #cfd9d9;
  border-radius: 8px;
  background: #f9fdfd;
  outline: none;
  transition: 0.2s;
  margin-bottom: 10px;
}

.modal-box select{
  width: 98%;
}

.modal-box input:focus,
.modal-box select:focus,
.modal-box textarea:focus {
  border-color: #2b7a78;
  box-shadow: 0 0 4px rgba(43, 122, 120, 0.4);
}

/* ----------- Textarea Size ----------- */
.modal-box textarea {
  resize: vertical;
  height: 80px;
}

/* ----------- Buttons ----------- */
.modal-actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save {
  background: #2b7a78;
  color: white;
  margin-left: 10px;
}

.save:hover {
  background: #225e5c;
}


.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 280px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
